body{
  background-image: url("../img/vault.jpg");
  background-size: cover;
  background-repeat:  no-repeat;
}

#code-container{
  border: 5px #FF0000;
  border-radius: 25px;
  border-style: solid;
  width: 22%;
  float: left;
  background-image: url("../img/background.jpg");
  color: red;
  text-align: center;
}

.button{
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  width: 100px;
  height: 100px;
  font-size: 30px;
  background-color: #342f2f;
  font-family: fantasy;
}

#rightCode{
  border: 5px green;
  color: white;
  border-radius: 20px;
  border-style: solid;
  margin-top: 70px;
  width: 47%;
  height: 50px;
  float: left;
}

#wrongCode{
  border: 5px red;
  color: white;
  border-radius: 20px;
  border-style: solid;
  margin-top: 70px;
  width: 47%;
  height: 50px;
  float: right;
}

#code{
  padding-top: 50px;
  font-size: 40px;
  font-family: fantasy;
  font-weight: 100;
}

@keyframes blinkG {
  0% {
      background-color: rgb(0, 74, 7);
    }
  100% {
      background-color: rgb(0, 199, 19);
    }
  }

.blinkG {
    animation: blinkG 0.7s linear infinite;
  }

@keyframes blinkR {
  0% {
      background-color: rgb(74, 7, 0);
    }
100% {
      background-color: rgb(199, 19, 0);
    }
  }

.blinkR {
  animation: blinkR 0.7s linear infinite;
}
